<html>
    <head>
        <link href="assets/style.css" type="text/css" rel="stylEsheet"/>
    </head>
    <body>
        <!-- En esta practica se me complico un poco la forma de poner codigo de js en el html
             pero al final comprendi como es que funcinaban las etiquetas y asi es como se combina
            el html de ejs con js en ciertas etiquetas -->
            <%if(ID % 2 == 0){%>
                    <h1>Numeros pares</h1>
                    <ul>                    
                        <%for(let i = 0; i < (ID * 2); i++){%>
                            <li> <%= ID %> Es par</li>
                        <%}%>
                    </ul>
                        <%}else{%>
                    <h1>Numeros impares</h1>
                    <ul>
                        <%for(let i = 0; i < ID; i++){%>
                            <li> <%= ID %> Es impar</li>
                        <%}%>
                    </ul>
                        <%}%>
    </body>
</html>